@font-face {
	font-family: 'font-awesome';
	src: url('../../fonts/fontAwesome/font/fontawesome-webfont.eot');
	src: url('../../fonts/fontAwesome/font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/fontAwesome/font/fontawesome-webfont.woff') format('woff'),
		url('../../fonts/fontAwesome/font/fontawesome-webfont.ttf') format('truetype'),
		url('../../fonts/fontAwesome/font/fontawesome-webfont.svg#Montserrat-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'oswald-regular';
	src: url('../../fonts/oswald-regular/oswald-regular.eot');
	src: url('../../fonts/oswald-regular/oswald-regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/oswald-regular/oswald-regular.woff') format('woff'),
		url('../../fonts/oswald-regular/oswald-regular.ttf') format('truetype'),
		url('../../fonts/oswald-regular/oswald-regular.svg#Montserrat-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'oswald-bold';
	src: url('../../fonts/oswald-bold/oswald-bold.eot');
	src: url('../../fonts/oswald-bold/oswald-bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/oswald-bold/oswald-bold.woff') format('woff'),
		url('../../fonts/oswald-bold/oswald-bold.ttf') format('truetype'),
		url('../../fonts/oswald-bold/oswald-bold.svg#Montserrat-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}

/*
@font-face {
	font-family: 'font-for-fighting';
	src: url('../../font/fff/fff-medium-trial.eot');
	src: url('../../font/fff/fff-medium-trial.eot?#iefix') format('embedded-opentype'),
		url('../../font/fff/fff-medium-trial.woff') format('woff'),
		url('../../font/fff/fff-medium-trial.ttf') format('truetype'),
		url('../../font/fff/fff-medium-trial.svg#Montserrat-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}
*/