// Цвета сайта

$main: #e3e2d4;
$secondary: #da901a;
$menu: rgba(51, 51, 51, .85);

// Цвета шрифта

$mainFont: #41516a;

// Шрифты

%main-font {
  font-family: oswald-regular, Arial, sans-serif;
}
%bold-font {
  font-family: oswald-bold, Arial, sans-serif;
  font-weight: bold;
}