// Цвета сайта

//$main: ;
$secondary: #da901a;
$menu: #333;

// Шрифты

%main-font {
  font-family: oswald-regular, Arial, sans-serif;
}
%bold-font {
  font-family: oswald-bold, Arial, sans-serif;
  font-weight: bold;
}